<div class="form-container">
  <mat-card class="translate-card">
    <mat-card-header class="card-header">
      <mat-card-title>Translate Text</mat-card-title>
      <mat-card-subtitle>Select and write your text</mat-card-subtitle>
      <div class="select-languages">
        <mat-form-field class="translate-text">
          <mat-label>Select your language</mat-label>
          <select matNativeControl [(ngModel)]="selectedCar" name="car">
            <option value="" selected></option>
            <option *ngFor="let car of cars" [value]="car.value">
              {{ car.viewValue }}
            </option>
          </select>
        </mat-form-field>
        <mat-form-field class="translated-text">
          <mat-label>Select traslation language</mat-label>
          <select matNativeControl [(ngModel)]="selectedCar" name="car">
            <option value="" selected></option>
            <option *ngFor="let car of cars" [value]="car.value">
              {{ car.viewValue }}
            </option>
          </select>
        </mat-form-field>
      </div>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-form-field class="form-field" ngDefaultControl [(ngModel)]="translationText" (keyup.enter)="onEnter()">
        <textarea
          matInput
          placeholder="Enter your text which need to translate"
          rows="5"
          cols="40"
        >
        </textarea>
      </mat-form-field>
      <mat-form-field class="form-field" ngDefaultControl [(ngModel)]="translatedText">
        <textarea
          matInput
          placeholder="Just press enter or click Translate button on bottom panel"
          rows="5"
          cols="40"
        >
        </textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Translate</button>
      <button mat-button></button>
    </mat-card-actions>
  </mat-card>
</div>
